.vs
.vscode
.idea
.gradle
.cache


/out/
/app/
/gradle/
/build/
/cmake-build-debug/
/.cache/


/android/app/.cxx/
/android/app/build/
/android/app/src/main/
/android/gradle/

build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle
vc140.idb
vc140.pdb
compile_commands.json




